{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
</head>
<body>
    <a href="/">Home</a>
    <form action="#" method="post">
        {% csrf_token %}
        <label>Name</label>
        <input type="text" name="name" placeholder="Enter Name">
        <hr>
        <label>Email</label>
        <input type="email" name="email" placeholder="Enter Email Id">
        <hr>
        <label>Salary</label>
        <input type="text" name="salary" placeholder="Enter Salary">
        <hr>
        <label>Designation</label>
        <input type="text" name="dsg" placeholder="Enter Designation">
        <hr>
        <label>City</label>
        <input type="text" name="city" placeholder="Enter City">
        <hr>
        <label>State</label>
        <input type="text" name="state" placeholder="Enter State">
        <br>
        <button type="submit">Add Record</button>
    </form>
</body>
</html>